DRAROK_TOKEN=HIAWdKBAFÖK§PP(3W§7ow23M)awdawdawdawdawdawdawdawdawdawdawda
DRAROK_GOOGLE_CRED_JSON=drarok-abcd1234abcd.json
# Directory which the credential-volume will be mounted to on deployment
DRAROK_CRED_DIR_CONTAINER=/opt/app/creds
