DRAROK_IMAGE_NAME=local/drarok
DRAROK_CONTAINER_NAME=drarok_c
# Path to VCS root of drarok
DRAROK_WORKDIR=?????/draro
# Path to DIRECTORY containing files like the drarok-1234abcd1234.json
DRAROK_CRED_DIR_HOST=????/secrets
