FORCE_RESTART="TRUE"
DRAROK_IMAGE_VERSION=local
DRAROK_IMAGE_NAME=local/drarok
DRAROK_CONTAINER_NAME=drarok_c
WORKDIR=?????/drarok
DRAROK_CRED_DIR_CONTAINER=/opt/app/mnt
DRAROK_CRED_DIR_HOST=/opt/app/mnt
